<template>
  <section class="playlists">
    <WidgetPlaylist v-for="pl in playlists" v-bind:key="pl.key" :src="pl.url" />
  </section>
</template>

<script>
import WidgetPlaylist from "./WidgetPlaylist.vue";

export default {
  name: "PlaylistList",
  components: {
    WidgetPlaylist,
  },
  data() {
    return {
      playlists: [
        {
          key: 1,
          url:
            "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1324703968&color=%23762929&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true",
        },
        {
          key: 2,
          url:
            "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1324703329&color=%23762929&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true",
        },
        {
          key: 3,
          url:
            "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1385156539&color=%23762929&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true",
        },
        {
          key: 4,
          url:
            "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1393929634&color=%23762929&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true",
        },
        {
          key: 5,
          url:
            "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1324703716&color=%2364343c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true",
        },
      ],
    };
  },
  mounted() {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
.playlists {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
